.barra-topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: black;
    border-end-end-radius: 10rem;
    width: 100%;
    z-index: 100;
}

.logo-wrapper {
    width: 10rem;
    height: 3rem;
    text-align: center;
}

.logo-img {
    height: 100%;
    width: 80%;
    object-position: center;
    object-fit: cover;
}

.botao-wrapper {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-barra {
    position: fixed;
    right: .5rem;
    top: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.2rem;
    z-index: 99999;
}

.social-barra a i {
    color: #a7a8a8;
    font-size: 1.8rem;
    opacity: 50%;
}

header {
    width: 100%;
    background: #F6FBFF;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 1.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 350;
}

.hamburguer span {
    color: #fff;
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    opacity: 0;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer {
    right: 11rem;
}

.line {
    width: 100%;
    height: .2rem;
    background: #78ffd6;
    transition: transform 1s;
}

#line2 {
    width: 80%;
}

#line3 {
    width: 60%;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .4rem);
}

.show-menu #line2 {
    width: 80%;
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    width: 100%;
    transform: rotate(-45deg) translate(.3rem, -.5rem);
}

.sidebar {
    width: 15rem;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -15rem;
    transition: all 1s;
    z-index: 300;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background-color: rgb(241, 245, 245);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    padding: .3rem;
    text-align: center;
}

.menu-link {
    font-family: "Rubik", sans-serif;
    line-height: 1.9rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(105, 105, 105);
    text-transform: capitalize;
}

#menu-link1 {
    color: #78ffd6;
}

.menu-link i {
    font-size: 1.4rem;
}

.img-sidebar-wrapper {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 10rem;
    height: 4rem;
}

.img-sidebar-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner {
    margin-top: 4rem;
    width: 100%;
}

.get-started-wrapper {
    margin-top: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.get-started {
    font-family: var(--font-primary);
    padding: .5rem 1rem .1rem 1rem;
    border: none;
    border-radius: 4px;
    background: #ADFF50;
}

.titulo-principal {
    margin-top: 11%;
    margin-left: 5%;
    width: 77%;
    text-align: left;
    color: rgb(170, 170, 170);
    font-size: 2.2rem;
    line-height: 2.7rem;
    font-weight:bold;
    font-family: var(--font-primary);
  
}
.ponto{
    margin-left: .3rem;
    font-size:4rem;
    color: #18e7a9;
}


.txt-type {
    color: #18e7a9;
}

.txt-type>.txt {
    border-right: 0.2rem solid #fff;
}

.subtitulo-wrapper {
    width: 80%;
    height: 33vh;
    background: #EEF2F9;
    margin-top: 9%;
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    padding-left: .8rem;
    padding-top: 1rem;
    border-radius: 10px;
   
}

.subtitulo {
    line-height: 1.4rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: var(--font-primary);
    color: rgb(61, 61, 61);
    text-align: left;
}

.subtitulo-wrapper p {
    margin-top: .8rem;
    line-height: 1.3rem;
    width: 75%;
    letter-spacing: .1rem;
    font-size: 1rem;
    font-family: var(--font-primary);
    color: rgb(0, 0, 0);
    text-align: left;
}

.botao-atendimento {
    padding: .2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: lighter;
    background-color: #78FFD6;
    border: none;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    -webkit-box-shadow:10px 12px 8px rgba(224, 224, 224, 0.77);
    -moz-box-shadow: 10px 12px 8px rgba(224, 224, 224, 0.77);
    box-shadow: 10px 12px 8px rgba(224, 224, 224, 0.77);
}

.botao-chat {
    position: fixed;
    top: 87%;
    right: .5rem;
    width: 5rem;
    height: 5rem;
    z-index: 999999;
}

.botao-chat img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.botao-chat::before {
    padding: .4rem;
    border-radius: 6px;
    border-end-end-radius: 10rem;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    position: fixed;
    right: 4.1rem;
    top: 88%;
    font-family: var(--font-primary);
    content: "Iniciar chat";
}

.down {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
}

.down i {
    font-size: 1.5rem;
    animation: down 2s infinite;
}

@keyframes down {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 60%;
        color: #50f8c6;
    }
    100% {
        transform: translateY(2rem);
        opacity: 0;
        color: #50f8c6;
    }
}

.load-wrapper {
    position: absolute;
    top: 0;
    background-color: #3a3a3a;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 4rem;
    height: 4rem;
    border: 8px solid rgba(0, 0, 0, .1);
    border-left-color: #78ffd6;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-height: 715px) {
    .logo-wrapper {
        width: 13rem;
        height: 3rem;
    }
    .titulo-principal {
        margin-top: 11%;
        margin-left: 5%;
        width: 77%;
        text-align: left;
        color: rgb(170, 170, 170);
        font-size: 2.6rem;
        line-height: 3.2rem;
    }
    .subtitulo-wrapper {
        width: 80%;
        background: #EEF2F9;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .subtitulo {
        font-size: 1.6rem;
    }
    .subtitulo-wrapper p {
        font-size: 1.2rem;
    }
    .botao-atendimento {
     
        padding: .2rem 1rem;
        font-size: 1.3rem;
    }
    .botao-chat {
        right: .5rem;
        width: 3.7rem;
        height: 3.7rem;
    }
    .botao-chat::before {
        right: 4.2rem;
    }
    .get-started {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    header{
        width: 100%;
        height: 100vh;
    }
    .social-barra a i {
        color: #a7a8a8;
        font-size: 1.8rem;
        opacity: 50%;
    }
    .social-barra a i {
        color: #a7a8a8;
        font-size: 1.9rem;
        opacity: 50%;
    }
    .social-barra a i:hover{
        color:#dbdbdb;
    }
    .get-started-wrapper{
        margin-top: 14rem;
    }
 
    .titulo-principal {
        width: 100%;
        line-height: 2rem;
        margin-left: 0;
        margin-top: 5rem;
        text-transform: uppercase;
        text-align: center;
        font-size: 2.2rem;
        font-weight:bold;
    font-family: var(--font-primary);
      
    }

    .subtitulo-wrapper {
        margin-top: 5rem;
        background: #EEF2F9;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-left: .8rem;
        padding-top: 1rem;
        border-radius: 10px;
      
       
    }
    .botao-wrapper {
        margin-top: 5rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
   
    .botao-atendimento {
        font-size: 1.5rem;
        padding: .2rem 2.2rem;
        margin: 0;
    }
    .botao-atendimento:hover {
        padding: .1rem 2.1rem;
        border: .1rem solid #78ffd6;
        color: #fff;
        background: black;
    }
    .logo-wrapper {
        display: none;
        width: 15em;
        height: 6em;
        top: 3rem;
        left: 12rem;
    }
    .logo-wrapper p {
        font-size: 2.5rem;
    }
    .hamburguer {
        opacity: 0;
    }
    .sidebar {
        top: 2rem;
        background: transparent;
        width: 100%;
        height: 6em;
        position: fixed;
        right: 0;
        transition: none;
        z-index: 300;
    }
    .img-sidebar-wrapper {
        top: 0;
        left: 15%;
        width: 14rem;
        height: 6em;
    }
    .img-sidebar-wrapper img {
        width: 100%;
        height: 100%;
    }
    .mudacor {
        top: 0rem;
        background: rgba(46, 46, 46, 0.692);
        width: 100%;
        height: 6em;
        position: fixed;
        right: 0;
        transition: none;
        z-index: 300;
        transition: 1s;
    }
    .menu {
        left: 70%;
        background: transparent;
        width: 27%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hamburguer span {
        display: none;
    }
    .menu-link {
        font-size: .8rem;
        letter-spacing: .1rem;
        font-weight: 600;
        font-family: "Rubik", sans-serif;
        color: rgb(0, 0, 0);
    }
    .menu-link:hover {
        color: #78ffd6;
    }
    #menu-link1 {
        color: #78ffd6;
    }
    .botao-chat {
        position: fixed;
        top: 87%;
        right: 1.7rem;
        width: 3.5rem;
        height: 3.5rem;
        z-index: 999999;
    }
    .botao-chat::before{
        right: 6rem;
    }
  


    .down {
        margin-top: 2rem;
    }
}