.servicos {
    padding-top: 2rem;
    background-color: #ffffff;
}

.servicos h2 {
    margin-bottom: .5rem;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .7rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #4b4b4b;
}

.servicos h2::before {
    content: "";
    border-right: .1rem solid #78ffd6;
    border-top: .1rem solid transparent;
    border-left: .1rem solid transparent;
    border-bottom: .1rem solid transparent;
    margin-right: 0.3rem;
}

.servicos h3 {
    margin-left: 1rem;
    text-transform: uppercase;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #636363;
}

.servicos h4 {
    width: 80%;
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    line-height: 1.7rem;
    color: #5c5c5c;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.cards-servicos {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3rem;
}

.card-servico {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
    background: #444444;
    width: 11rem;
    height: 12rem;
    border: 1rem solid #444444;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.card-servico::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #78FFD6;
    border: 1px solid #78FFD6;
    border-radius: .5rem;
    opacity: 80%;
    transition: .5s ease;
    box-sizing: border-box;
}

#card-servico1::before {
    width: 0;
    height: 0;
}

#card-servico1:hover::before {
    content: "Mais detalhes";
    text-align: center;
    padding-top: .6rem;
    font-size: 1.1rem;
    color: rgb(63, 63, 63);
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 20%;
}
#card-servico2::before {
    width: 0;
    height: 0;
}

#card-servico2:hover::before {
    content: "Mais detalhes";
    text-align: center;
    padding-top: .6rem;
    font-size: 1.1rem;
    color: rgb(63, 63, 63);
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 20%;
}
#card-servico3::before {
    width: 0;
    height: 0;
}

#card-servico3:hover::before {
    content: "Mais detalhes";
    text-align: center;
    padding-top: .6rem;
    font-size: 1.1rem;
    color: rgb(63, 63, 63);
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 20%;
}

.card-servico i {
    font-size: 2.5rem;
}

.card-servico span {
    font-size: 1.2rem;
    line-height: 1rem;
    font-family: var(--font-primary);
}

#card-servico1 i {
    color: #00A85F;
}

#card-servico1 span {
    color: #00A85F;
}

#card-servico2 i {
    color: #3D70BD;
}

#card-servico2 span {
    color: #3D70BD;
}

#card-servico3 i {
    color: #E9E96F
}

#card-servico3 span {
    color: #E9E96F
}

.card-servico p {
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    color: #B6B6B6;
}

.pro {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #78FFD6;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-size: 4rem;
    color: #a044ff;
    text-align: center;
}

@media screen and (min-width:1024px) {
    .servicos h2 {
        color: #292929;
        margin-left: 10rem;
        padding-top: 1rem;
        padding-left: 4rem;
    }
    .servicos h3 {
        margin-left: 9rem;
        padding-bottom: .5rem;
        padding-left: 5rem;
    }
    .servicos h4 {
        margin-left: 13rem;
        line-height: 2.5rem;
        width: 50%;
        margin-top: 2rem;
        font-size: 3rem;
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .cards-servicos {
        display: flex;
        flex-direction: row;
        width: 40%;
    }
    .card-servico {
        width: 25%;
        cursor: pointer;
    }
    .img-wrapper-servicos {
        width: 30%;
        margin-bottom: 4rem;
    }
    .pro {
        width: 100%;
        font-size: 3rem;
        text-align: right;
    }
}