.servicos {
    padding-top: 2rem;
    background-color: #90c5f3;
}

.servicos h2 {
    margin-bottom: .5rem;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .7rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.servicos h2::before {
    content: "";
    border-right: .1rem solid #78ffd6;
    border-top: .1rem solid transparent;
    border-left: .1rem solid transparent;
    border-bottom: .1rem solid transparent;
    margin-right: 0.3rem;
}

.servicos h3 {
    margin-left: 1rem;
    text-transform: uppercase;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: #ffffff;
}

.servicos h4 {
    text-align: center;
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    line-height: 1.7rem;
    color: #ffffff;
    margin-left: 1rem;
    padding-left: .4rem;
    padding-right: .4rem;
    margin-bottom: 1rem;
}

.cards-servicos {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3rem;
}

.card-servico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    background: #ffffff;
    width: 85%;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    padding: .5rem .5rem 1rem .5rem;
}

.mais-detalhes {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #78FFD6;
    border: 1px solid #78FFD6;
    border-radius: .5rem;
    opacity: 80%;
    box-sizing: border-box;
    margin-top: 2rem;
    color:#303030;
    font-family: "Raleway", sans-serif;
}
.mais-detalhes  .fab{
    color: #444444;
    font-size: 1.2rem;
    margin-right: .3rem;
}

.card-servico i {
    color:#78FFD6;
    font-size: 2rem;
}

.card-servico span {
    color: #4c4c51;
    text-align: center;
    font-size: 1.9rem;
    line-height: 1rem;
    font-family: var(--font-primary);
    border-bottom: .5rem solid #6aa7da;
    border-bottom-right-radius: 2rem;
    line-height: 4rem;
}
.card-servico h5{
    font-family: "Raleway", sans-serif;
    margin-top: .6rem;
    text-align: center;
    color:#4c4c51;
    font-size: 3rem;
}
.card-servico h6{
    font-family: "Raleway", sans-serif;
    margin-top: 1.2rem;
    text-align: center;
    color:#4c4c51;
    font-size: 1.1rem;
    font-weight:normal;

}
.card-servico p {
    text-align: center;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    color: #4c4c51;
    font-size: 1.4rem;
    margin-top: .7rem;
    font-weight: normal;
}
.card-servico ul{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 2rem;
    
}
.card-servico ul li{
    width: 70%;
    color: #4c4c51;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-style: normal;
    
}
.card-servico ul li i{
    color: #29c469;
    font-size: 1.2rem;
    margin-right: .5rem;
  
}





#card-servico2 i {
    color: #4b82d4;
}

#card-servico2 span {
    color: #4b82d4;
}

#card-servico3 i {
    color: #E9E96F
}

#card-servico3 span {
    color: #E9E96F
}



.pro {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #78FFD6;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-size: 4rem;
    color: #a044ff;
    text-align: center;
}

@media screen and (min-width:1024px) {
    .servicos {
        padding-top: 2rem;
        background:#fff;
    }
    .servicos h2 {
        color: #292929;
        margin-left: 10rem;
        padding-top: 1rem;
        padding-left: 4rem;
    }
    .servicos h3 {
        color: #292929;
        margin-left: 9rem;
        padding-bottom: .5rem;
        padding-left: 5rem;
    }
    .servicos h4 {
        color:#4c4c51;
     text-align: center;
        margin-top: 3rem;
        font-size: 2.5rem;
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .cards-servicos {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        align-items: initial;
        width: 70%;
    }
    .card-servico {
        background-color: #EEF2F9;
        width:30%;
        cursor: pointer;
    }
    .img-wrapper-servicos {
        display: none;
        width: 30%;
        margin-bottom: 4rem;
    }
    .pro {
        width: 100%;
        font-size: 3rem;
        text-align: right;
    }
    .mais-detalhes {
        color: #303030;
        background: none;
       
    }
    .mais-detalhes::before {
        content: "";
        position: absolute;
        bottom: -.2rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        background-color: #78ffd6;
        border: 1px solid #78ffd6;
        border-radius: .5rem;
        z-index: -1;
        transition: .7s ease;
        border: none;
    }
    .md-1::before {
        width: 0;
        height: 2.5rem;
    }
    .md-1:hover::before {
        width: 95%;
    }
   
}