.sobre{
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 4rem;
    
}
.titulo-sobre{
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .7rem;
    color: #4b4b4b;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}
.titulo-sobre::before{
    content: "";
    border-right: .1rem solid #78ffd6;
    border-top: .1rem solid transparent;
    border-left: .1rem solid transparent;
    border-bottom: .1rem solid transparent;
    margin-right: 0.3rem;  

}
.sobre h3{
  
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #4b4b4b;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}
.sobre h4{
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    line-height: 1.7rem;
    color: #5c5c5c;
}
.sobre p{
    font-family:"Raleway", sans-serif;
    color:#B6B6B6;
    margin-top: 1rem;
    
}
.icons{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  center;
   
}
.icon{
    padding-left: 0.5rem;
    padding-right: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.icon i{
    text-align: center;
    font-size: 2rem;
    color:#78ffd6; 
}
.icon span{
    font-family: "Raleway", sans-serif;
}
.img-wrapper-sobre{
    display: none;
}




@media screen and (min-width: 1024px){

.sobre{
 display: flex;
 justify-content: center;
 padding-left: 6rem;
 padding-right: 6rem;

}
.sobre-textos{
padding-top: 6rem;
 width: 40%;

}
.sobre-textos p{
    font-size: 1.2rem;
}

.img-wrapper-sobre{
    display:flex ;
    width: 50%;  
}
.img-sobre{ 
    width: 100%;
    object-fit: cover;
    object-position: center; 

    
}


}