.perguntas{
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.perguntas h2{
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}
.nav-perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
   
}

.ul-perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  
}

.pergunta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    padding: 1rem .9rem 1rem .9rem; 
    border-radius: .9rem;
    background-color: rgb(32, 32, 32);
    color: #fff;
    margin-bottom: .7rem;
    
}
.pergunta i{
    font-size: 1.2rem;
    
}

.resposta{
    text-align: left;
    width: 90%;
    padding: 1rem .9rem 1rem .9rem; 
    font-family: "Raleway", sans-serif;
    font-size: .9rem;
    border-radius: .9rem;
    color: #fff;
    visibility: hidden;
    color: #fff;
    display: none;
    

}
.mostra-resposta.perg1{
    margin-bottom: 0;
}
.mostra-resposta.perg2{
    margin-bottom: 0;
}
.mostra-resposta.perg3{
    margin-bottom: 0;
}
.mostra-resposta.resp1{
    margin-top: .1rem;
    background-color:rgb(77, 77, 77);
    border-radius: .9rem;
    visibility: visible;
    transition: .5s;
    padding: 1rem .7rem 1rem .7rem;
    display: block;
    margin-bottom:.4rem ;
    font-size: 1rem;
    
    
}
.mostra-resposta.resp2{
    margin-top: .1rem;
    background-color:rgb(77, 77, 77);
    border-radius: .9rem;
    visibility: visible;
    transition: .5s;
    padding: 1rem .9rem 1rem .9rem; 
    display: block;
    margin-bottom:.4rem ;
    
}
.mostra-resposta.resp3{
    margin-top: .1rem;
    background-color:rgb(77, 77, 77);
    border-radius: .9rem;
    visibility: visible;
    transition: .5s;
    padding: 1rem .9rem 1rem .9rem; 
    display: block;
    margin-bottom:.4rem ;
    
}


@media screen and (min-width:1024px) {
    .perguntas{
        padding-top: 8rem;
        padding-bottom: 4rem;
    }
    .ul-perguntas{
        width: 70%;
    }
    .pergunta{
        font-size: 1.2rem;
        padding: 1.3rem .8rem 1.3rem .8rem; 
        margin-bottom: 1.2rem;

    }
    .perguntas h2{
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }

}

