.barra-topo {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    border-bottom: 1px solid rgb(116, 116, 116);
    width: 100%;
    height: 2.2em;
}

.social-barra {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}

.social-barra i {
    color: #78ffd6;
    font-size: 1.1rem;
    margin-right: 0.3rem;
}

header {
   
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.hamburguer span {
    color: #fff;
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    opacity: 0;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer {
    right: 11rem;
}

.line {
    width: 100%;
    height: .1rem;
    background: #78ffd6;
    transition: transform 1s;
}

#line2 {
    width: 80%;
}

#line3 {
    width: 60%;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .4rem);
}

.show-menu #line2 {
    width: 80%;
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    width: 100%;
    transform: rotate(-45deg) translate(.3rem, -.5rem);
}

.sidebar {
    width: 15rem;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -15rem;
    transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background-color: rgb(241, 245, 245);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    padding: .3rem;
    text-align: center;
}

.menu-link {
    font-family: "Rubik", sans-serif;
    line-height: 1.5rem;
    font-size: .9rem;
    font-weight: bold;
    color: rgb(105, 105, 105);
    text-transform: uppercase;
}
.menu-link i{
    color:#69e4bf;
    font-size: 1.5rem;
}

.img-sidebar-wrapper {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 10rem;
    height: 4rem;
}

.img-sidebar-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-wrapper-trafego {
    position: absolute;
    top: 0;
    bottom: 12rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 10rem;
    height: 10rem;
    
    
}

.img-wrapper-trafego img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo-trafego {
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 21rem;
    color: #585858;
}

.texto-explicacao {
  
    line-height: 1.9rem;
    font-size: 1.1rem;
    font-family: "Raleway", sans-serif;
    position: absolute;
    top:26rem;
    margin-right: .5rem;
    margin-left: .5rem;
    text-align: center;
    color: #747272;
    
}
.mais-detalhes{
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    color:#69e4bf;
    padding: .5rem 2rem;
    position: absolute;
    bottom:2.9rem;
    border: 1px solid #69e4bf;
    border-radius: 1rem;
    left:50%; 
    transform:translate(-50%, -50%); 
   
}
.mais-detalhes:hover{
    background-color: #69e4bf;
    color:#fff;
}


.txt-type {
    color: #78ffd6;
}

.txt-type>.txt {
    border-right: 0.2rem solid #fff;
}

.logo-wrapper {
    width: 12em;
    height: 6em;
    position: absolute;
    top: 2.5rem;
    left: 1.2rem;
}

.logo-img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 4rem;
    color: #fff;
}

.down i {
    font-size: 1.5rem;
    animation: down 2s infinite;
}

@keyframes down {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 60%;
    }
    100% {
        transform: translateY(2rem);
        opacity: 0;
        ;
        color: #78ffd6;
    }
}

.load-wrapper {
    position: absolute;
    top: 0;
    background-color: #3a3a3a;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 4rem;
    height: 4rem;
    border: 8px solid rgba(0, 0, 0, .1);
    border-left-color: #78ffd6;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1024px) {

    .textos-wrapper-trafego{
        width: 40%;
    }
    .img-wrapper-trafego{
        left: 40rem;
        width: 28rem;
        height: 16rem;
        
        
    }
    .titulo-trafego{
        width: 40%;
        font-size: 2.3rem;
        text-align: left;
        margin-left: 17rem;
        top: 16rem;
    }
 
    .texto-explicacao {
        margin-left: 17rem;
        width: 35%;
        line-height: 2.3rem;
        text-align: left;
        font-size: 1.5rem;
        position: absolute;
        top:22rem;
        color: #747272;
        
    }
    .mais-detalhes{
        font-size: 1rem;
        font-family: "Raleway", sans-serif;
        box-sizing: border-box;
        color:#69e4bf;
        padding: .5rem 2rem;
        position: absolute;
        bottom:10rem;
        border: 2px solid #69e4bf;
        border-radius: 1rem;
        left:29rem; 
        transform:translate(0); 
       
    }
    .logo-wrapper {
        display: none;
      
    }
   
    .sidebar {
        top: 2rem;
        background: transparent;
        width: 100%;
        height: 6em;
        position: fixed;
        right: 0;
        transition: none;
        z-index: 300;
    }
    .img-sidebar-wrapper {
        top: 0;
        left: 15%;
        width: 14rem;
        height: 6em;
    }
    .img-sidebar-wrapper img {
        width: 100%;
        height: 100%;
    }
    .mudacor {
        top: 0rem;
        background: rgba(46, 46, 46, 0.692);
        width: 100%;
        height: 6em;
        position: fixed;
        right: 0;
        transition: none;
        z-index: 300;
        transition: 1s;
    }
    .menu {
        left: 55%;
        background: transparent;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-link {
        font-size: .74rem;
        letter-spacing: .1rem;
        font-weight: 600;
        font-family: "Rubik", sans-serif;
        color: rgb(153, 152, 152);
    }
    .menu-link:hover {
        color: #69e4bf;
    }
    #menu-link1 {
        color: #69e4bf;
    }
    .barra-topo {
        height: 2.9rem;
    }
    .social-barra {
        justify-content: center;
    }
    .social-barra i {
        cursor: pointer;
        color: #69e4bf;
        font-size: 1.5rem;
        margin-right: 0.3rem;
    }
    .social-barra i:hover {
        color: gray;
    }
    .social-barra a {
        z-index: 100;
    }
    .hamburguer{
        display: none;
    }
}