
.barra-topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    border-bottom: 1px solid rgb(116, 116, 116);
    width: 100%;
    height: 2.2em;
    z-index: 100;
}

.social-barra {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 100%;
}

.social-barra i {
    color: #78ffd6;
    font-size: 1.1rem;
    margin-right: 0.3rem;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.hamburguer span {
    color: #fff;
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    opacity: 0;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer {
    right: 11rem;
}

.line {
    width: 100%;
    height: .1rem;
    background: #78ffd6;
    transition: transform 1s;
}

#line2 {
    width: 80%;
}

#line3 {
    width: 60%;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .4rem);
}

.show-menu #line2 {
    width: 80%;
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    width: 100%;
    transform: rotate(-45deg) translate(.3rem, -.5rem);
}

.sidebar {
    width: 15rem;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -15rem;
    transition: all 1s;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background-color: rgb(241, 245, 245);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    padding: .3rem;
    text-align: center;
}

.menu-link {
    font-family: "Rubik", sans-serif;
    line-height: 1.5rem;
    font-size: .9rem;
    font-weight: bold;
    color: rgb(105, 105, 105);
    text-transform: capitalize;
}
.menu-link i{
    color: #78ffd6;
    font-size: 1.6rem;
}

.img-sidebar-wrapper {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 10rem;
    height: 4rem;
}

.img-sidebar-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-wrapper-sites {
    margin: auto;
    width: 15rem;
    height: 12rem;
    
    
}

.img-wrapper-sites img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    
}

.titulo-sites {
    margin-top: 1rem;
    font-family: "Raleway", sans-serif;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: #585858;
    margin-bottom: 1rem;
}

.texto-explicacao {
    margin-top: 1rem;
    line-height: 1.4rem;
    text-align: left;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #747272;
    
}

.txt-type {
    color: #78ffd6;
}

.txt-type>.txt {
    border-right: 0.2rem solid #fff;
}

.logo-wrapper {
    width: 12rem;
    height: 6rem;
}

.logo-img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
}

.down i {
    font-size: 1.5rem;
    animation: down 2s infinite;
}

@keyframes down {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 60%;
    }
    100% {
        transform: translateY(2rem);
        opacity: 0;
        ;
        color: #78ffd6;
    }
}

.load-wrapper {
    position: absolute;
    top: 0;
    background-color: #3a3a3a;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 4rem;
    height: 4rem;
    border: 8px solid rgba(0, 0, 0, .1);
    border-left-color: #78ffd6;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@media screen  and (min-height:715px){
    .logo-wrapper {
        width: 13rem;
        height: 7rem;
    }
    .titulo-sites{
        margin-top: 1rem;
        font-size: 2.1rem;
    }

    .img-wrapper-sites{
        width: 17rem;
        height: 13rem;
    }
    .texto-explicacao{
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .titulo-sites{
        width: 50%;
        margin-top: 11rem;
        font-size: 2.3rem;
        text-align: left;
        margin-left: 17rem;
        top: 14rem;
        float: left;
    }
    .img-wrapper-sites {
        position: absolute;
        width: 40rem;
        height: 25rem;
        right: 6rem;
        top:13rem;
     
        
    }
    .texto-explicacao {
        margin-left: 17rem;
        font-weight: normal;
        width: 35%;
        line-height: 2.2rem;
        text-align: left;
        font-size: 1.4rem;
        color: #747272;
        
    }
    .down{
        margin-top: 6rem;
        
    }
 
    .logo-wrapper {
        display: none;
      
    }
   
    .sidebar {
        top: 2rem;
        background: transparent;
        width: 100%;
        height: 6em;
        position: fixed;
        right: 0;
        transition: none;
        z-index: 300;
    }
    .img-sidebar-wrapper {
        top: 0;
        left: 15%;
        width: 14rem;
        height: 6em;
    }
    .img-sidebar-wrapper img {
        width: 100%;
        height: 100%;
    }
    .mudacor {
        top: 0rem;
        background: rgba(46, 46, 46, 0.692);
        width: 100%;
        height: 6em;
        position: fixed;
        right: 0;
        transition: none;
        z-index: 300;
        transition: 1s;
    }
    .menu {
        left: 70%;
        background: transparent;
        width: 27%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-link {
        font-size: .8rem;
        letter-spacing: .1rem;
        font-weight: 600;
        font-family: "Rubik", sans-serif;
        color: rgb(70, 70, 70);
    }
    .menu-link:hover {
        color: #69e4bf;
    }
    #menu-link1 {
        color: #69e4bf;
    }
    .barra-topo {
        height: 2.9rem;
    }
    .social-barra {
        margin-right: 4rem;
        justify-content: center;
    }
    .social-barra i {
        cursor: pointer;
        color: #69e4bf;
        font-size: 1.5rem;
        margin-right: 0.3rem;
    }
    .social-barra i:hover {
        color: gray;
    }
    .social-barra a {
        z-index: 100;
    }
    .hamburguer{
        display: none;
    }
}