.servicos-sites {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.cards-servicos-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-servico-site {
    box-shadow: 0 0 .5rem rgb(216, 216, 216);
    margin-top: 3rem;
    padding: 1rem 1rem 2rem 2rem;
    background: rgb(247, 247, 247);
    width: 80%;
    border-radius: 1rem;
}

.card-servico-site i {
    font-size: 2.4rem;
}

.card-servico-site h1 {
    margin-top: .5rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
}

.card-servico-site p {
    font-family: "Raleway", sans-serif;
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(128, 128, 128);
}

.card-servico-site ul {
    margin-top: 1rem;
}
.card-servico-site ul :nth-child(4){
    color: rgb(0, 199, 0);
}
.card-servico-site ul :nth-child(5){
    color: rgb(212, 0, 142);
}
.card-servico-site ul :nth-child(6){
    color: rgb(70, 40, 202);
}

.card-servico-site li {
    color: black;
    padding: .4rem;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

.card-servico-site a {
    text-align: center;
    display: block;
}

.ver-exemplo {
    margin-top: 1rem;
    font-family: "Raleway", sans-serif;
    color: rgb(12, 150, 214);
    font-weight: bold;
}

.quero-este {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-family: "Raleway", sans-serif;
    background: #78ffd6;
    width: 80%;
    padding: .8rem;
    border-radius: .7rem;
    font-weight: bold;
    color: rgb(58, 58, 58);
}